{% extends 'todo/base.html' %}

{% block content %}
<h3 class="container text-center">Completed ToDos</h3>
<br>

{% for todo in todos %}
<div class="list-group container w-75">
	<a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">
				{% if todo.important %}<b>{% endif %} {{ todo.title }} {% if todo.important %}</b>{% endif %}
			</h5>
			{% if todo.important %}
			<small class="text-muted" style="font-size: large;">Important</small>
			{% endif %}
		</div>
		{% if todo.memo %}
		<p class="mb-1 container">{{todo.memo}}</p>
		<p class="mb-1" style="text-align: right;">
			<strong>Completed</strong> {{ todo.datecompleted|date:'M j Y, H :i' }}
		</p>
		{% endif %}
	</a>
</div>
<br>
{% endfor %}

{% endblock %}